*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
body{
    background-color: #FDDE02;
    background-image: url("/Imagens/Mulher.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
}

header{
    font-size: 26px;
    font-family: 'Atma' , sans-serif ;
    color: #FF005C;
    text-align: center;
    padding-top: 100px;
}

#formulario{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;

}

form{
    display: flex;
    align-items: center;
    gap:20px;
}
form img{
    height: 35px;
    border: none;
}
form button{
    border: none;
    cursor: pointer;
    background-color: #FDDE02;
}
form input{
    background-color: #D9D9D9;
    outline: none;
    border: none;
    height: 30px;
    border-radius: 10px;
    font-family: 'Roboto' , sans-serif;
    padding-left: 15px;
}

#tabela{
    display: flex;
    justify-content:center;

    background-image: url(Imagens/Agenda\ de\ Contatos\ notas.png);
    background-size: 450px;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    width: 800px;
    min-height: 350px;
    margin: 8px auto;
}
table th{
    font-family: 'Atma' , sans-serif ;
    color: #FF005C;
    font-size: 16px;
    padding: 8px 10px;
    padding-top: 50px;
    text-align: left;
    border-bottom: 2px solid rgba(0, 0 ,0, 0.8) ;
    width: 50%;
}


table{
    width: 300px;
}
table tbody{
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 15px;
    
    
}
tbody td{
    font-family: 'Roboto' , sans-serif;
    font-size: 16px;
    color: #000;
    border-bottom: 1px solid rgba(0, 0 ,0, 0.1) ;
    padding-left: 80px;
    
    
}



